/* basic elements */
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font: 75% Helvetica" Georgia, Sans-Serif;
            line-height: 1.88889;
            color: #222;
            background: #fff no-repeat bottom right;
            padding: 0;
            margin: 0;
        }

        h1, h2, h3, h4, h5 {
            font-family: "Helvetica" Georgia, Sans-Serif;
			font-size:30px;
        }

        p {
			font-family: "Helvetica" Georgia, Sans-Serif;
            margin-top: 0;
            text-align: justify;
			margin-bottom:0;
			padding-bottom:0;
        }

        img {
            padding: 3px 10px 10px 0;
        }

        table {
            border-spacing: 4px;
            border-collapse: separate;
			font-family: "Helvetica" Georgia, Sans-Serif;
        }

        thead {
            text-align: left;
        }

        th {
            padding-left: 20px;
            color: #808080;
            background-color: #eee;
            border: 1px solid #ccc;
        }

        tr {
            background-color: #fff;
        }

        td {
            vertical-align: top;
            padding: 0;
            border-bottom: 2px dotted #ccc;
        }

        h3 {
            font: italic normal 1.4em georgia, sans-serif;
            letter-spacing: 1px;
            margin-bottom: 0;
            color: #7D775C;
        }

        a:link {
            font-weight: bold;
            text-decoration: none;
            color: #B7A5DF;
        }

        a:visited {
            font-weight: bold;
            text-decoration: none;
            color: #D4CDDC;
        }

        a:hover, a:focus, a:active {
            text-decoration: underline;
            color: #9685BA;
        }

        #main {
            margin: 0 auto 0 auto;
            width: 92%;
        }

        #results {
            margin-top: 13px;
        }

        #topNav {
            margin: 0;
            padding: 10px 0 10px 0;
            background-color: #000;
        }

            #topNav a {
                margin-left: 20px;
            }
        #error {
            text-align:center;
            font-size:25px;
            color:red;
            margin-top:150px;
        }
		.highlighted
		{
		background-color:#eee;
		}
		.title
		{
		font-size:19px;
		margin:0;
		padding:0;
		}